{% block sw_cms_el_preview_{{.TwigName}} %}
    <div class="preview-{{.KebabName}}">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">
    </div>
{% endblock%}